# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
DATABASE_URL="mysql://root:@localhost:3306/seuBancoLocal"
JWT_SECRET=YOURSECRET

# For usage examples: http://www.nncron.ru/help/EN/working/cron-format.htm
# To run every minute use this string: "* * * * *" the default value runs every day at midnight, as required at the test description.
CRON_TIME_VALUE="0 0 * * *"